@media screen and (max-width: 1024px) {
  .main__title > h1 {
    font-size: 46px !important;
  }

  .main__desc {
    column-gap: 100px;
  }
  .card__title > h6 {
    font-weight: 700;
    font-size: 26px;
    line-height: 47px;
    color: #222222;
  }
  .card__title > p {
    font-weight: 400;
    font-size: 12px;
    line-height: 155%;
    color: #028984;
  }
  .card > img {
    width: 56px;
  }
  .future__title {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .main__title > h1 {
    font-size: 46px !important;
  }
  .footer {
    text-align: center;
  }
}

@media screen and (max-width: 578px) {
  .nav__links {
    display: none;
  }
  .main__title > h1 {
    font-size: 26px !important;
    line-height: 35px;
    padding: 128px 0 24px 0;
  }
  .future__title > h3 {
    font-size: 32px;
    padding-bottom: 0px;
  }
  .future__item {
    padding: 0px 0 0px 0;
    gap: 35px;
  }
  .footer {
    text-align: center;
  }
  .social__icons {
    justify-content: center;
  }

  @media screen and (max-width: 328px) {
    .main__title > h1 {
      font-size: 24px !important;
      line-height: 35px;
      padding: 90px 0 24px 0;
    }
    .main__title > p {
      max-width: 867px;
      font-weight: 400;
      font-size: 14px;
      padding-bottom: 54px;
    }
    .title > h3 {
      font-size: 22px;
      line-height: 38px;
    }
    .title > p {
      font-size: 14px;
      padding-bottom: 20px;
    }

    .future__title > h3 {
      font-size: 22px;
    }
    .future__title > p {
      font-size: 14px;
    }
    .secondary_header {
      font-size: 22px !important;
    }
    .list_tasks ol li {
      font-size: 14px;
    }
    .list_tasks ol li:before {
      width: 17px;
      height: 24px;
      color: #fff;
      font-size: 17px;
    }
    .card__info {
      padding-bottom: 10px;
    }
    .card__info img {
      width: 22px;
    }
    .mentor {
      padding: 20px 0;
    }
    .footer {
      text-align: center;
    }
    .social__icons {
      justify-content: center;
    }
    .follow > h2 {
        font-size: 23px;
        line-height: 34px;
        padding-bottom: 5px;
    }
    .footer__links > h2 {
        font-size: 22px;
    }
  }
}
