* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
th,
td {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  text-align: center;
}

.title > h3 {
  font-weight: 700;
  font-size: calc((1vw + 1vh) * 1.3);
  line-height: 62px;
  color: #000;
  padding-bottom: 12px;
}

.title > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  text-align: center;
  color: #555555;
}

button {
  padding: 16px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: #086cf9;
  border-radius: 4px;
  border: none;
}

/* START SECTION HEADER */
.navogation {
  padding: 40px 0 32px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #222222;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 45px;
}

@media screen and (max-width: 328px) {
  .nav__links {
    display: none;
  }
}

a:hover {
  color: #028984;
}

.header__btns {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header__btns > a:nth-child(2) {
  padding: 12px 24px;
  background: #028984;
  border-radius: 4px;
  color: #fff;
}
/* END SECTION HEADER */

/* START SECTION TABLES */

.parents{
  padding-top: 128px;
}

.tables {
  margin-bottom: 128px;
}

.tables__title {
  margin-bottom: 42px;
}

.tables__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #555555;
  padding-bottom: 32px;
}

table {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  margin: 0 auto;
  width: 80%;
  height: 220px;
  background: #fafafa;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 12px 12px 0 0;
}

th,
td {
  padding: 10px 15px;
}

.border__th {
  border-top: #000 3px solid;
}

th {
  background: #028984;
  color: #fff;
}

tr {
  background: #e8f5f3;
}

tr:nth-child(odd) {
  background: #cef4f0;
}

.parents {
  margin-bottom: 128px;
}

.nomber {
  width: 120px;
}

.quarter {
  margin-top: 85px;
  margin-bottom: 85px;
}

.schedule__title {
  margin-bottom: 48px;
}

.schedules {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  margin-bottom: 128px;
}

.schedule {
  max-width: 330px;
}

.meetings {
  margin-bottom: 128px;
}

.uniform {
  margin-bottom: 128px;
}

.students {
  margin-bottom: 128px;
}

.descriptions > p {
  font-weight: 600;
  font-size: 16px;
  line-height: 155%;
  color: #555555;
  margin-bottom: 16px;
}
.graduates {
  margin-bottom: 128px;
}
.graduates__title {
  margin-bottom: 48px;
}
/* END SECTION TABLES */


