{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="main">
  <button class="openbtn" onclick="openNav()">☰ GRAMOTEY</button>
  <header>
      <div class="header_img img">
          <div class="header_shadow">
              <div class="container">
                  <div class="header_content">
                      <div class="header_content_text">
                          <h1>Общеобразовательное Учреждение «Грамотей»</h1>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet,
                              vestibulum euismod nullam elementum. Urna, posuere nisi sit gravida
                              massa. Ultrices bibendum sagittis pellentesque vitae sit.
                          </p>
                          <a href="#future_page"> <img src="{% static 'img/assets/image/main/arrow_down.svg' %}" alt=""></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <section id="future_page">
      <div class="future">
          <div class="container">
              <div class="future__item">
                  <div class="future__title">
                      <h3>Наша миссия</h3>
                      <p>
                          Миссия школы – раскрыть творческий потенциал, найти уникальный
                          дар каждого ребенка, обеспечить его успешное личностное,
                          интеллектуальное, творческое, духовное, социальное,
                          эмоциональное и физическое развитие.
                      </p>
                  </div>
                  <div class="future__video">
                      <img src="{% static 'img/mainpage/IMG_4735.jpg' %}" alt="">
                  </div>
              </div>

              <h3 class="secondary_header">Наши задачи</h3>
              <div class="list_tasks">
                  <ol class="gradient-list">
                      <li>
                          помочь ребенку найти себя, определить область своей успешности и
                          создать проект эффективного САМОразвития;
                      </li>
                      <li>помочь ребенку овладеть основами фундаментальных наук;</li>
                      <li>
                          помочь ребенку научиться мыслить критически, нестандартно,
                          оригинально, задавать вопросы и подвергать сомнению истины,
                      </li>
                      <li>
                          помочь ребенку подготовиться к жизни в новых, неопределенных,
                          постоянно меняющихся условиях;
                      </li>
                      <li>
                          помочь ребенку понять, что жизнь человека – это
                          САМОстроительство: САМ определяешь свои жизненные цели, САМ
                          находишь пути их достижения, САМ несешь ответственность за свое
                          продвижение, за свой успех, за свою жизнь;
                      </li>
                      <li>
                          убедить ребенка в том, что недостижимых целей нет, все – в твоих
                          руках;
                      </li>
                      <li>
                          помочь ребенку разработать и начать реализовывать свой жизненный
                          проект, в основе которого – нравственные цели;
                      </li>
                      <li>помочь ребенку строить свою счастливую жизнь;</li>
                      <li>
                          воспитать детей, новых лидеров современного общества, на основе
                          высоких академических и этических стандартов, глубокого уважения
                          к интеллектуальным и культурным ценностям;
                      </li>
                      <li>
                          развить интеллект и творчество учеников, их индивидуальные
                          способности с помощью инновационных стратегий обучения и

развития, мы поддерживаем их таланты.
                      </li>
                  </ol>
              </div>
          </div>
      </div>
  </section>
  <section class="values_section">
      <div class="container">
          <div class="title values_title">
              <h3>Ценности</h3>
          </div>

          <div class="values_container">
              <div class="values_box">
                  <img src="{% static 'img\assets\image\svg\values\7.svg' %}" alt="" />
                  <h4>Обучение, ориентированное на ученика</h4>
                  <p>
                      Процесс обучения в школе сложный и радостный: каждый ученик здесь
                      успешно продвигается собственным путем – в соответствии со своими
                      способностями и возможностями. Мы помогаем каждому найти свой путь
                      к успеху, постоянно поднимать планку личных достижений, научиться
                      преодолевать трудности, повысить самооценку, обрести уверенность в
                      себе.
                  </p>
              </div>

              <div class="values_box">
                  <img src="{% static 'img\assets\image\svg\values\2.svg' %}" alt="" />
                  <h4>Вера в успех каждого</h4>
                  <p>
                      Мы верим в успех каждого. Неталантливых детей нет – нужно только
                      помочь им раскрыть свой талант, предложить попробовать себя в
                      разных областях и видах деятельности. Для нас важно, чтобы каждый
                      ученик почувствовал себя в чем-то успешным, выдающимся, значимым,
                      интересным.
                  </p>
              </div>

              <div class="values_box">
                  <img src="{% static 'img\assets\image\svg\values\3.svg' %}" alt="" />
                  <h4>Уважение</h4>
                  <p>
                      Самоуважение и уважение к другим; принятие другого, отличного от
                      тебя, имеющего другие взгляды и убеждения; доверие, эмпатия и
                      терпимость – основа построения близких, теплых отношений в нашем
                      уникальном школьном сообществе. Нас много, мы все разные –
                      носители разного опыта, разных культур, и нас обогащает это
                      разнообразие и интеграция культур на основе взаимного уважения.
                  </p>
              </div>

              <div class="values_box">
                  <img src="{% static 'img\assets\image\svg\values\4.svg' %}" alt="" />
                  <h4>Честность</h4>
                  <p>
                      Честность – главный, руководящий принцип школы. Быть честным –
                      значит выполнять обещания, следовать принятым в школе правилам и
                      признавать правонарушения, быть откровенным во всех отношениях и
                      ситуациях и быть искренним, правдивым во всех сообщениях,
                      действиях и принятии решений. Честность рождает доверие и
                      придает характеру силу.
                  </p>
              </div>

              <div class="values_box">
                  <img src="{% static 'img\assets\image\svg\values\5.svg' %}" alt="" />
                  <h4>Ответственность</h4>
                  <p>
                      Мы учим быть ответственным – за свой выбор, за свой успех, за свою
                      жизнь. Быть ответственным за то, что ты делаешь и говоришь. Быть
                      ответственным за то, кто ты, какой ты. Это также означает
                      признание того, что все твои действия значимы и что ты несешь
                      моральную ответственность за их последствия.
                  </p>
              </div>

<div class="values_box">
                  <img src="{% static 'img\assets\image\svg\values\6.svg' %}" alt="" />
                  <h4>Сотрудничество</h4>
                  <p>
                      В школе создан особый, удивительный дух – дух сотрудничества,
                      взаимопомощи, партнерства, сочувствия. У нас принято проявлять
                      чуткость, заботу, щедрость, доброту. Главная традиция в школе –
                      дарить радость другому. Мы развиваем у ребят способность
                      выстраивать связи с разными людьми, отношения, основанные на
                      глубокой дружбе, взаимоподдержке, учим проявлять уважение к
                      успехам другого, признавать и ценить не только свои заслуги.
                  </p>
              </div>
          </div>
      </div>
  </section>


{% endblock %}