{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="students">
        <div class="container">
            <div class="title tables__title">
                <h3>Ученикам</h3>
                <p>
                    - Для учебы
                </p>
            </div>
            <div class="books">
                <div class="descriptions">
                    <p> <a href="#">• interneturok.ru </a> — это настоящий кладезь, здесь есть видеоуроки, тренажеры и
                        тесты по всем школьным предметам с 1 по 11 класс.</p>
                    <p> <a href="#">• stellarium.org </a> — потрясающе красивая программа, имитирующая планетарий.
                        Незаменимо для всех, кто интересуется астрономией, учитывая, что этот предмет вскоре появится в
                        школьной программе.</p>
                    <p> <a href="#">• briefly.ru</a> — это 2000 произведений школьной программы в кратком изложении.</p>
                    <p><a href="#">• lingualeo.com</a> — интерактивный сервис для изучения английского языка. Есть
                        бесплатный и расширенный платный доступ (стоимость на год соотносима с 2-3 занятиями с
                        репетитором).</p>
                    <p><a href="#">• gostei.ru </a> — крупная онлайновая детская библиотека, которая содержит тексты
                        программных произведений по литературе с 1 по 11 классы.</p>
                    <p><a href="#">• gramota.ru </a> — огромный справочно-информационный портал по правилам и сложностям
                        русского языка.</p>
                    <p><a href="#">• learnenglishkids.britishcouncil.org</a>— любопытный сервис по изучению английского
                        языка для учеников разной степени подготовки.</p>
                    <p><a href="#">• litra.ru</a> — сайт с огромным количеством биографий писателей, кратких содержаний
                        и полных текстов литературных произведений и сотней критических статей.</p>
                    <p><a href="#">• math-prosto.ru</a> — программа по математике с 1 по 11 класс, подготовка к
                        экзаменам по предмету и готовые домашние задания.</p>
                    <p><a href="#">• fizika.ru</a> — учебники, задачники, лабораторные работы и тесты по физике для
                        учеников 7-9 классов и учителей физики.</p>
                    <p><a href="#">• nuclphys.sinp.msu.ru </a> — проект кафедры общей ядерной физики физического
                        факультета МГУ. Лекции по физике и отдельный раздел для школьников «Популярно о науке».</p>
                    <p><a href="#">• chem.msu.su/rus/elibrary/ </a> — фонд публикаций по химии, содержит учебники и
                        практикумы по предмету, разработанные в том числе и в МГУ им. Ломоносова.</p>
                    <p><a href="#">• orgchem.ru</a> — интерактивный мультимедиа учебник по органической химии для
                        школьников.</p>
                    <p><a href="#"></a> — электронный учебный курс «Открытая биология» с разделением по направлениям
                        «Ботаника», «Зоология», «Человек», «Общая биология» и «Экология».</p>
                    <p><a href="#">• ebio.ru</a> — электронный учебный курс «Открытая биология» с разделением по
                        направлениям «Ботаника», «Зоология», «Человек», «Общая биология» и «Экология».</p>
                    <p><a href="#">• zooclub.ru</a> — мегаэнциклопедия о животных, населяющих планету.</p>
                    <p><a href="#">• nsportal.ru</a> — национальный проект, в котором собраны авторские разработки и
                        презентации педагогов по всем предметам.</p>
                    <p><a href="#">• krugosvet.ru </a> — универсальная научно-популярная онлайн-энциклопедия.</p>
                    <p><a href="#">• dic.academic.ru</a> — универсальный словарь и междисциплинарная энциклопедия.</p>
                    <p><a href="#">• bibliotekar.ru</a> — электронная библиотека нехудожественной литературы</p>
                    <p><a href="#">• reshi-pishi.ru </a> — интересные квесты и задания по математике, логике, чтению и
                        английскому языку для детей 5-10 лет.</p>
                    <p><a href="#">• nachalka.info</a> — сборник уроков начальной школы с 1 по 4 классы по математике,
                        русскому языку, окружающему миру и обучению грамоте. Доступ платный, но стоимость на год не
                        превышает тысячи рублей.</p>
                    <p><a href="#">• kvantik.com</a> — журнал, посвященный занимательным вопросам и задачам по
                        математике, лингвистике, физике и другим наукам.</p>
                    <p><a href="#">• childrenscience.ru </a> — онлайн-курсы по математике, физике, химии, биологии,
                        технике, архитектуре, искусствоведению, лингвистике.</p>
                    <p><a href="#">• getaclass.ru </a> — бесплатные обучающие видео и уроки по физике и математике.</p>
                    <p><a href="#">• native-english.ru</a> — удобный и простой сервис для изучения английского языка.
                    </p>
                    <p><a href="#">• math24.biz</a> — сервис по математике для учеников 5-11 классов. Подробный разбор
                        тем и пошаговое решение задач.</p>
                    <p><a href="#">• translate.ru </a> — онлайн-переводчик с десятка языков, а также грамматика
                        английского, немецкого и французского языков.</p>
                    <p><a href="#">• http://www.hemi.nsu.ru</a> - Основы химии: образовательный сайт для школьников и
                        студентов</p>
                    <p><a href="#">• https://chemequations.com/ru</a> - Калькулятор для химиков (химические реакции)
                    </p>
                    <p><a href="#">http://www.chem100.ru/elem.php</a> - Химические элементы </p>
                    <p><a href="#">• http://all-met.narod.ru</a> - Занимательная химия: все о металлах </p>
                    <p><a href="#">• http://priroda.inc.ru/himij/himij.html </a> - История открытий химических элементов
                    </p>
                    <p><a href="#">•
                            http://www.virtulab.net/index.php?option=com_content&view=section&layout=blog&id=7&Itemid=102
                        </a> - Виртуальная лаборатория</p>
                    <p><a href="#">• http://biology-online.ru/</a> - Современные уроки биологии </p>
                    <p><a href="#">• http://www.bioword.narod.ru/</a> - Словарь биологических терминов </p>
                </div>
            </div>
        </div>
    </section>

    <section class="graduates">
        <div class="container">
            <div class="title graduates__title">
                <p>
                    Выпускникам
                </p>
            </div>
            <div class="graduate__link">
                <p><a href="#">http://www.4icu.org</a></p>
                <p><a href="#">https://www.ets.org/toefl/test-takers/ibt.html</a></p>
                <p><a href="#">https://www.ielts.org/</a></p>
            </div>
        </div>
    </section>

{% endblock %}
