{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section id="priem" class="parents">
        <div class="container">
            <div class="tables">
                <div class="title tables__title">
                    <h3>Родителям</h3>
                    <p>
                        - Прием в школу

                    </p>
                </div>
                <div class="tables__desc">
                    <p>
                        Этап №1: родители собирают пакет документов(копии паспортов родителей, копия свидетельства о
                        рождении ребенка, справка о составе семьи,1 фото 3х4)<br>
                        Этап №2: родитель пишет заявление в приемной школы с 1 по 31 мая<br>
                        Этап №3: родители приходят на собеседование с ребенком (оба родителя и ребенок) по графику с 1 по 30-июня<br>
                        Этап №4: родитель приводит ребенка на вступительные испытания по графику с 1 по 30 июня при
                        условии
                        наличия мест и своевременно поданного заявления<br>
                        Этап №5: школа производит зачисление ребенка в соответствующий класс при условии успешного
                        прохождения ребенком вступительных испытаний

                    </p>
                </div>
                <table class="lessons">
                    <tr>
                        <th class="table__header" colspan="3">- Расписание школы на 2022-2023 учебный год:</th>
                    </tr>
                    <tr>
                        <td class="nomber">1</td>
                        <td>Начало учебного года</td>
                        <td>01.09.22</td>
                    </tr>
                    <tr class="color">
                        <td class="nomber">2</th>
                        <td>Продолжительность учебного года</td>
                        <td>01.09.22</td>
                    </tr>
                    <tr>
                        <td class="nomber">3</td>
                        <td>Окончание учебного года</td>
                        <td>31.05.23</td>
                    </tr>
                </table>
                <table class="quarter">
                    <tr>
                        <th>Четверть</th>
                        <th>Начало</th>
                        <th>Окончание</th>
                        <th>Праздничные дни</th>
                    </tr>
                    <tr>
                        <td>1 (8,5 недель)</td>
                        <td>01.09.22</td>
                        <td>28.10.22</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2 (7,5 недель)</td>
                        <td>9.11.22</td>
                        <td>29.12.22</td>
                        <td>07.11.22 <br>
                            08.11.22
                        </td>
                    </tr>
                    <tr>
                        <td>3 (10 недель)*</td>
                        <td>11.01.23</td>
                        <td>17.03.23</td>
                        <td>23.02.23 <br>
                            08.03.23
                        </td>
                    </tr>
                    <tr>
                        <td>4 (8 недель)</td>
                        <td>30.03.23</td>
                        <td>31.05.23</td>
                        <td>01.05.23 <br>
                            05.05.23 <br>
                            09.05.23
                        </td>
                    </tr>
                    <tr id="lessons">
                        <td>Государственные экзамены у 9 класса</td>
                        <td>01.06.23</td>
                        <td>25.06.23</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Государственные экзамены у 11 класса</td>
                        <td>01.06.23</td>
                        <td>25.06.23</td>
                        <td></td>
                    </tr>
                </table>
                <div class="title schedule__title">
                    <p>- Расписание уроков</p>
                </div>
                <div class="schedules">
                    <table class="schedule">
                        <tr>
                            <th>1 смена</th>
                        </tr>
                        <tr>
                            <td>8.00-8.45</td>
                        </tr>
                        <tr>
                            <td>8.50-9.35</td>
                        </tr>
                        <tr>
                            <td>9.40-10.25</td>
                        </tr>
                        <tr>
                            <td>10.30-11.15</td>
                        </tr>
                        <tr>
                            <td>11.20-12.05</td>
                        </tr>
                        <tr>
                            <td>12.10-12.55</td>
                        </tr>
                        <tr>
                            <td>13.00-13.45</td>
                        </tr>
                    </table>
                    <table class="schedule">
                        <tr>
                            <th>2 смена</th>
                        </tr>
                        <tr>
                            <td>12.10-12-55</td>
                        </tr>
                        <tr>
                            <td>13.00-13.45</td>
                        </tr>
                        <tr>
                            <td>13.50-14.35</td>
                        </tr>
                        <tr id="meeting">
                            <td>14.40-15.25</td>
                        </tr>
                        <tr>
                            <td>15.30-16.15</td>
                        </tr>
                        <tr>
                            <td>16.20-17.05</td>
                        </tr>
                        <tr>
                            <td>17.10-17.55</td>
                        </tr>
                    </table>
                </div>
                <div class="title schedule__title">
                    <p>- Расписание родительских собраний</p>
                </div>
                <table class="meetings">
                    <tr>
                        <th>№</th>
                        <th>Дата</th>
                        <th>Время</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>27.08.22</td>
                        <td rowspan="5">«А» класс – 18.00 <br>
                            «Б» класс – 19.00
                            </th>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>29.10.22</td>
                    </tr>
                    <tr id="form">
                        <td>3</td>
                        <td>24.12.22</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>18.03.23</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>27.05.23</td>
                    </tr>
                </table>
                <div class="title schedule__title">
                    <p>- Форма учащихся</p>
                </div>
                <table class="uniform">
                    <tr>
                        <th>Четверть</th>
                        <th>Форма Одежды</th>
                    </tr>
                    <tr>
                        <td>Первая</td>
                        <td>Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) или
                            белая футболка с логотипом школы (зеленая футболка только в день физ-ры)
                        </td>
                    </tr>
                    <tr>
                        <td>Вторая</td>
                        <td>Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) </td>
                    </tr>
                    <tr>
                        <td>Третья</td>
                        <td>Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) </td>
                    </tr>
                    <tr>
                        <td>Четвертая</td>
                        <td>Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) или
                            белая футболка с логотипом школы (зеленая футболка только в день физ-ры)
                        </td>
                    </tr>
                    <tr>
                        <td>Официальные мероприятия (линейки, экзамены)</td>
                        <td>Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) </td>
                    </tr>
                    <tr>
                        <th id="grafic" class="border__th" colspan="2">Юбка ниже колен! Брюки - нижняя ширина от 20 см для старших
                            классов, от 12 см
                            для младших классов. (для девочек)
                            Мальчики – темно-синие костюмы и РУБАШКИ (без рисунков) любого цвета
                            Девочки темно-синие костюмы (БРЮКИ, ЮБКИ) или САРАФАНЫ и БЛУЗКИ с воротником непрозрачные
                            (без рисунков), в заправку, любого цвета
                            Костюм – это брюки или юбка и пиджак!!!
                        </th>
                    </tr>
                </table>
                <div class="title schedule__title">
                    <p>- График внесения оплаты</p>
                </div>
                <table class="payment">
                    <tr>
                        <th>№</th>
                        <th>Период обучения</th>
                        <th>Дни внесения оплаты:</th>
                        <th>Место внесения оплаты:</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Сентябрь 2022</td>
                        <td>до 30.08.2022</td>
                        <td rowspan="9">Демир Банк** <br>
                            1180000112999853
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Октябрь 2022</td>
                        <td>до 25.09.2022</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Ноябрь 2022</td>
                        <td>до 25.10.2022</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Декабрь 2022</td>
                        <td>до 25.11.2022</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Январь 2023 </td>
                        <td>до 25.12.2022</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Февраль 2023 </td>
                        <td>до 25.01.2023</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Март 2023</td>
                        <td>до 25.02.2023</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Апрель 2023</td>
                        <td>до 25.03.2023</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Май 2023</td>
                        <td>25.04.2023</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    {% endblock %}
